img {
  display: block;
  max-width: 100%;
}

.overlay-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.637);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
